@font-face { font-family: 'GothamRoundedBold'; src: url("./fonts/GothamRoundedBold.otf") format("opentype"), url("./fonts/GothamRoundedBold.ttf") format("truetype"); }

@font-face { font-family: 'GothamRoundedBook'; src: url("./fonts/GothamRoundedBook.otf") format("opentype"), url("./fonts/GothamRoundedBook.ttf") format("truetype"); }

@font-face { font-family: 'GothamRoundedLight'; src: url("./fonts/GothamRoundedLight.otf") format("opentype"), url("./fonts/GothamRoundedLight.ttf") format("truetype"); }

@font-face { font-family: 'GothamRoundedMedium'; src: url("./fonts/GothamRoundedMedium.otf") format("opentype"), url("./fonts/GothamRoundedMedium.ttf") format("truetype"); }

footer { padding-top: 20px; border-top: 1px solid gold; width: 100vw; }

footer #pie { height: 420px; width: 100vw; color: gold; text-align: center; margin-bottom: 5px; }

footer #imagenCentral { width: 200px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto; }

footer #imagenIzquierda { float: left; margin: auto; height: 300px; width: 260px; }

footer #imagenDerecha { float: right; margin: auto; height: 300px; width: 260px; }

footer .footerMenu { text-align: center; margin: 5px 0 30px 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

footer .footerMenu li { margin: 10px; }

footer .footerMenu li a { color: gold; font-size: 15px; font-weight: 700; text-decoration: none; }

footer .footerMenu li a:hover { color: red; }

footer #desarrollado { font-size: 15px; background-color: black; padding-top: 5px; border-top: 2px solid gold; }

footer #desarrollado h3 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-right: 20px; color: burlywood; font-size: 15px; }

footer #desarrollado h3 a { color: goldenrod; margin-left: 10px; }

footer #desarrollado h3 a :hover { color: red; }

@media only screen and (max-width: 720px) { #imagenIzquierda { display: none; }
  #imagenDerecha { display: none; } }

body { font-family: "GothamRoundedBook", sans-serif; color: #4C5055; }

body h2 { text-align: center; font-size: 50px; font-family: "GothamRoundedMedium", sans-serif; font-weight: normal; }

body h3 { text-align: center; margin: 5px 0; padding: 5px; font-size: 30px; font-weight: normal; font-family: "GothamRoundedLight", sans-serif; }

body .titulo-seccion { margin-bottom: 50px; padding-bottom: 15px; }

body .subtitle { text-transform: uppercase; border-bottom: 1px solid #4C5055; }

body .navbar { position: absolute; z-index: 1; }

body .navbar .navbar-nav .nav-link:hover { color: #e9b530; }

body .seccion { margin-top: 50px; }

body .imgHome { display: inline-block; position: relative; z-index: -1; width: 100vw; height: 100vh; }

body #seccionUno { padding-top: 5px; }

body #seccionUno img.d-block { width: 700px; height: 700px; padding: 0 5%; }

body #seccionDos article { margin-bottom: 20px; font-size: 14px; color: #BBB; }

body #seccionDos .darker { color: #999; font-family: "GothamRoundedMedium", sans-serif; }

body #seccionDos .skyblue { color: #93D4EE; }

body #seccionDos ul { font-size: 14px; list-style: none; padding: 0; }

body #seccionDos ul li { margin-bottom: 15px; }

body #seccionDos .columna-imagenes img { margin-bottom: 25px; }

body #seccionTres { padding-top: 5px; justify-items: center; }

body #seccionTres .card { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; position: initial; margin: 5px; }

body #seccionTres .btn { background-color: #e9b530; border-color: transparent; color: black; }

body .final-seccion .yellow-dot { width: 22px; height: 22px; background-color: #FFCD00; border-radius: 50%; display: inline-block; margin: 75px 5px; }
/*# sourceMappingURL=style.css.map */