@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@font-face { font-family: 'GothamRoundedBold'; src: url("./fonts/GothamRoundedBold.otf") format("opentype"), url("./fonts/GothamRoundedBold.ttf") format("truetype"); }

@font-face { font-family: 'GothamRoundedBook'; src: url("./fonts/GothamRoundedBook.otf") format("opentype"), url("./fonts/GothamRoundedBook.ttf") format("truetype"); }

@font-face { font-family: 'GothamRoundedLight'; src: url("./fonts/GothamRoundedLight.otf") format("opentype"), url("./fonts/GothamRoundedLight.ttf") format("truetype"); }

@font-face { font-family: 'GothamRoundedMedium'; src: url("./fonts/GothamRoundedMedium.otf") format("opentype"), url("./fonts/GothamRoundedMedium.ttf") format("truetype"); }

footer { z-index: 2; border-top: 5px solid; -o-border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; border-image: -webkit-gradient(linear, left top, right top, from(#efcf32), color-stop(#e9b530), color-stop(#D46F2E), color-stop(#C9252C), color-stop(#9F2186), color-stop(#832980), color-stop(#302F71), to(#75C0DC)) 8; border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; background-color: #4c5055; position: relative; }

footer img { width: 50%; }

footer a { color: #fff; text-decoration: none; }

footer a:hover { color: #e9b530; }

footer .iconos a i { color: #fff; -webkit-transition: all ease 200ms; transition: all ease 200ms; }

footer .iconos a i:hover { color: #e9b530; -webkit-transform: scale(2); transform: scale(2); }

footer .copyright { background-color: rgba(0, 0, 0, 0.2); }

footer .separador { color: #fff; }

body { font-family: "GothamRoundedBook", sans-serif; color: #4C5055; }

body h2 { text-align: center; font-size: 50px; font-family: "GothamRoundedMedium", sans-serif; font-weight: normal; }

body h3 { text-align: center; margin: 5px 0; padding: 5px; font-size: 30px; font-weight: normal; font-family: "GothamRoundedLight", sans-serif; }

body .titulo-seccion { margin-bottom: 50px; padding-bottom: 15px; }

body .subtitle { text-transform: uppercase; border-bottom: 1px solid #4C5055; }

body .navbar { border-top: 5px solid; -o-border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; border-image: -webkit-gradient(linear, left top, right top, from(#efcf32), color-stop(#e9b530), color-stop(#D46F2E), color-stop(#C9252C), color-stop(#9F2186), color-stop(#832980), color-stop(#302F71), to(#75C0DC)) 8; border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; position: absolute; z-index: 1; opacity: 70%; width: 100%; position: fixed; }

body .navbar .navbar-brand { color: white; font-size: 30px; font-family: "GothamRoundedBold", sans-serif; margin-left: 20px; text-transform: uppercase; }

body .navbar .collapse { -webkit-box-flex: 0; -ms-flex: none; flex: none; }

body .navbar .navbar-nav { margin-right: 30px; }

body .navbar .navbar-nav .nav-link { color: white; margin-right: 20px; }

body .navbar .navbar-nav .nav-link:hover { color: #e9b530; }

body .seccion { margin-top: 6%; padding-top: 6%; }

body .imgHome { position: relative; background-size: cover; width: 100%; background-position: center right; height: 100vh; background-image: url("../css/img/img1.jpg"); background-repeat: no-repeat; background-attachment: fixed; }

body #seccionUno { padding: 20px 0; }

body #seccionUno .cmn-divfloat { position: fixed !important; bottom: 45px; right: 15px; display: none; z-index: 1; }

body #seccionUno .cmn-divfloat a { background: #e9b530; border: none; color: #FFF; }

body #seccionUno .cmn-divfloat a:hover { color: #4c5055; }

body #seccionUno .cmn-btncircle { width: 40px !important; height: 40px !important; padding: 6px 0px; border-radius: 15px; font-size: 18px; text-align: center; }

body #seccionUno .textoUno { margin-top: 5%; overflow: hidden; border-bottom: 5px solid; -o-border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; border-image: -webkit-gradient(linear, left top, right top, from(#efcf32), color-stop(#e9b530), color-stop(#D46F2E), color-stop(#C9252C), color-stop(#9F2186), color-stop(#832980), color-stop(#302F71), to(#75C0DC)) 8; border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; }

body #seccionUno .textoUno .textoBiografiaUno { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

body #seccionUno .textoUno .textoBiografiaUno .row { padding: 25px 0; margin: 20px 1rem; }

body #seccionUno .textoUno .textoBiografiaDos { border-top: 5px solid; -o-border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; border-image: -webkit-gradient(linear, left top, right top, from(#efcf32), color-stop(#e9b530), color-stop(#D46F2E), color-stop(#C9252C), color-stop(#9F2186), color-stop(#832980), color-stop(#302F71), to(#75C0DC)) 8; border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E, #C9252C, #9F2186, #832980, #302F71, #75C0DC) 8; background-image: url("../css/img/img5.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; height: 80vh; color: white; text-align: center; }

body #seccionUno .textoUno .textoBiografiaDos .wrapper-biografia { background-color: rgba(0, 0, 0, 0.2); -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; padding: 12px; }

body #seccionUno .textoUno .row { --bs-gutter-x: 0 rem; }

body #seccionDos article { margin-bottom: 20px; font-size: 14px; color: #BBB; }

body #seccionDos .darker { color: #999; font-family: "GothamRoundedMedium", sans-serif; }

body #seccionDos .skyblue { color: #93D4EE; }

body #seccionDos ul { font-size: 14px; list-style: none; padding: 0; }

body #seccionDos ul li { margin-bottom: 15px; }

body #seccionDos .columna-imagenes img { margin-bottom: 25px; border-radius: 8px; }

body #seccionTres .card { position: relative; margin-bottom: 40px; height: 400px; background-size: cover; background-position: center; border-radius: 8px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

body #seccionTres .card:after { content: ""; display: table; clear: both; }

body #seccionTres .card .card-shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); border-radius: 8px; }

body #seccionTres .card .card-body { position: absolute; bottom: 0; left: 0; width: 100%; }

body #seccionTres .card .card-body .card-title { font-size: 40px; color: #fff; }

body #seccionTres .card .card-body .card-text { color: #FFFFFF; margin-bottom: 30px; font-size: 25px; font-family: "GothamRoundedLight", sans-serif; text-align: center; }

body #seccionTres .card .card-body .btn { font-size: 15px; background-color: #e9b530; border-color: transparent; color: #FFFFFF; font-family: "GothamRoundedMedium", sans-serif; text-transform: uppercase; border-radius: 12px; padding: 8px 25px; margin-bottom: 30px; }

body #seccionTres .card.card-large { height: 600px; }

body #seccionTres .card.card1 { background-image: url("../css/img/img11.jpg"); }

body #seccionTres .card.card2 { background-image: url("../css/img/img15.png"); }

body #seccionTres .card.card3 { background-image: url("../css/img/img14.jpeg"); }

body #seccionTres .card.card4 { background-image: url("../css/img/img13.jpeg"); }

body #seccionTres .card.card5 { background-image: url("../css/img/img12.jpg"); }

body #seccionTres .card:hover { cursor: pointer; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); -webkit-transform: scale(1.02); transform: scale(1.02); }

body #seccionTres .card:hover .card-body .btn { color: #4c5055; }

body #seccionCuatro { margin-bottom: 30px; }

body .final-seccion .yellow-dot { width: 20px; height: 20px; background-color: #e9b530; border-radius: 50%; display: inline-block; margin: 45px 5px; }

@media screen and (max-width: 991px) { body .navbar .navbar-brand { font-size: 22px; margin-left: 0; } }

@media screen and (max-width: 768px) { body .seccion { margin-top: 20px; }
  body .titulo-seccion { margin-bottom: 0px; }
  body #seccionDos .columna-imagenes img { margin-bottom: 12px; }
  body #seccionTres .card { margin-bottom: 12px; }
  body #seccionTres .card.card-large { height: 400px; } }
/*# sourceMappingURL=style.css.map */