footer{   
    background-color: #EAEAEF;
    h5{
        color: #4C5055; 
    }
    img{
        width: 50%;
    }
    a{
    color: #4C5055;
    text-decoration: none;
    }
    .iconos{
        a{
            
                color: #4C5055;
            
        }
    }
}
