@import "fonts";
@import "footer";

body{
    font-family: "GothamRoundedBook", sans-serif;
    .navbar{
        position: absolute;
        z-index: 1;
        }
    .imgHome{
        display: inline-block;
        position: relative;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
    .seccionUno{
        padding-top:5px ;
        h2{
            text-align: center;
            padding: 5px 0px;
            font-size: 50px;
            font-weight:bold;
        }
        h3{
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: 25px;
            background-color: #e9b530;
            font-weight: bold;
        }
        img.d-block{
            width: 700px;
            height:700px;
            padding: 0 5%;
        }
    }
    .seccionDos{
        padding-top: 5px;
        h2{
            text-align: center;
            padding: 5px 0px;
            font-size: 50px;
            font-weight:bold;
        }
        h3{
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: 25px;
            background-color: #e9b530;
            font-weight: bold;
        }
    }
    .seccionTres {
        padding-top: 5px;
        h2{
            text-align: center;
            padding: 5px 0px;
            font-size: 50px;
            font-weight:bold;
        }
        h3{
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: 25px;
            background-color: #e9b530;
            font-weight: bold;
        }
    
    }

}