@import "fonts";
@import "footer";

body {
    font-family: "GothamRoundedBook", sans-serif;
    color: #4C5055;
    h2 {
        text-align: center;
        font-size: 50px;
        font-family: "GothamRoundedMedium", sans-serif;
        font-weight: normal;
    }
    h3 {
        text-align: center;
        margin: 5px 0;
        padding: 5px;
        font-size: 30px;
        font-weight: normal;
        font-family: "GothamRoundedLight", sans-serif;
    }
    .titulo-seccion {
        margin-bottom: 50px;
    }
    .subtitle {
        text-transform: uppercase;
        border-bottom: 1px solid #4C5055;
        padding-bottom: 15px;
    }
    .navbar {
        position: absolute;
        z-index: 1;
        .navbar-nav .nav-link:hover {
            color: #e9b530;
        }
    }
    .seccion {
        margin-top: 50px;
    }
    .imgHome {
        display: inline-block;
        position: relative;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
    #seccionUno {
        padding-top: 5px;
        img.d-block {
            width: 700px;
            height: 700px;
            padding: 0 5%;
        }
    }
    #seccionDos {
        article {
            margin-bottom: 20px;
            font-size: 14px;
            color: #BBB;
        }
        .darker {
            color: #999;
            font-family: "GothamRoundedMedium", sans-serif;
        }
        .skyblue {
            color: #93D4EE;
        }
        ul {
            font-size: 14px;
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 15px;
            }
        }
        .columna-imagenes {
            img {
                margin-bottom: 25px;
            }
        }
    }
    #seccionTres {
        padding-top: 5px;
        justify-items: center;
        .card {
            display: inline-flex;
            position: initial;
            margin: 5px;
        }
        .btn {
            background-color: #e9b530;
            border-color: transparent;
            color: black;
        }

    }

    .final-seccion {
        .yellow-dot {
            width: 22px;
            height: 22px;
            background-color: #FFCD00;
            border-radius: 50%;
            display: inline-block;
            margin: 75px 5px;
        }
    }

}
