@import "fonts";
@import "footer";
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap);

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

body {
    background-image: url(../css/img/314.jpg);
    background-attachment: fixed;
    font-family: "GothamRoundedBook", sans-serif;
    color: #4C5055;
    h2 {
        text-align: center;
        font-size: 2.6rem;
        font-family: "GothamRoundedMedium", sans-serif;
        font-weight: normal;
    }
    h3 {
        text-align: center;
        margin: 5px 0;
        padding: 5px;
        font-size: 1.5rem;
        font-weight: normal;
        font-family: "GothamRoundedLight", sans-serif;
    }
    .titulo-seccion {
        margin-bottom: 50px;
        padding-bottom: 15px;
    }
    .subtitle {
        text-transform: uppercase;
        border-bottom: 1px solid #4C5055;
    }
    .navbar {
        border-top: 5px solid;
        border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E,#C9252C, #9F2186, #832980,#302F71, #75C0DC)8;
        position: absolute;
        z-index: 1;
        opacity: 70%;
        width: 100%;
        position: fixed;
        text-align: center;
        img{
            width:15%;
            margin-left: 4rem;
        }
        .navbar-brand {
            color: white;
            font-size: 30px;
            font-family: "GothamRoundedBold", sans-serif;
            margin-left: 20px;
            text-transform: uppercase;
        }
        .collapse {
            flex: none;
        }
        .navbar-nav {
            margin-right: 30px;
            justify-content: center;
            .nav-link {
                color: white;
                margin-right: 20px;
                font-size: 13px;
            }
        }
        .navbar-nav .nav-link:hover {
            color: #ec2088;

        }
    }
    .seccion {
        margin-top: 30px;
        padding-top: 30px;
    }
    .imgHome {
        position: relative;
        background-size: cover;
        width: 100%;
        background-position: center center;
        height: 100vh;
        background-image: url("../css/img/SILVICABILDO.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        .textoIndex {
            padding:20px;
            color:#fff;
            margin-top: -20%;
            text-shadow: 1px 1px rgba(0,0,0,0.5);
            width: 70%;
            display: inline;
            h2{
            font-family:'GothamRoundedLightItalic', sans-serif;
            }
        }
    }
    #seccionUno {
        scroll-margin-top: 4em;
        padding: 20px 0;
        .cmn-divfloat {
            position: fixed !important;
            bottom: 10px;
            right: 15px;
            display: none;
            a{
                background: #ec2088;
                border:none;
                color: #FFF;
            }
            a:hover{
                color: #4c5055;
            }
            z-index: 1;
        }
        .cmn-btncircle {
            width: 40px !important;
            height: 40px !important;
            padding: 6px 0px;
            border-radius: 15px;
            font-size: 18px;
            text-align: center;
        }
        .textoUno {
            margin-top:5%;
            overflow: hidden;
            .textoBiografiaUno {
                justify-content: center;
                text-align: center;
                .row {
                    padding: 0;
                    margin: 20px 1rem;
                    margin-bottom: 0;
                }
                div {
                    > .row {
                        margin-top: 0;
                    }
                }
            }
            .textoBiografiaDos {
                border-top: 5px solid;
                border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E,#C9252C, #9F2186, #832980,#302F71, #75C0DC)8;
                background-image: url("../css/img/ImgSecc2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center; 
                height: 80vh;
                color: white;
                text-align: center;

                .wrapper-biografia {
                    background-color: rgba(0,0,0,0.2);
                    align-items: center;
                    height: 100%;
                    padding: 12px;
                    font-size: 1rem;
                }
            }
            .row{
                --bs-gutter-x: 0 rem;
            }
            border-bottom: 5px solid;
            border-image: linear-gradient(to right, #efcf32, #e9b530, #D46F2E,#C9252C, #9F2186, #832980,#302F71, #75C0DC)8;
        }
    }
    #seccionDos {
        scroll-margin-top: 4em;
        article {
            margin-bottom: 20px;
            font-size: 16px;
        }
        .darker {
            font-family: "GothamRoundedMedium", sans-serif;
        }
        .skyblue {
            padding: 2rem 0;
            .capaUno{
                font-size: 9rem;
                font-family: 'Ubuntu', sans-serif;
                color: #b0b0b0;
                position: absolute;
                z-index: -1;
            }
            .contPropuesta{
                display: flex;
                flex-direction: column;
                margin-left: 1.2rem;
                padding-top: 5.5rem;
                .tituloCapa{
                    text-align: left;
                    font-family: "GothamRoundedBold";
                    text-transform: uppercase;
                    font-size: 2rem;
                }
                ol{
                    color: black;
                    padding: 2rem 0;
                }
            }
        }
        ul {
            font-size: 16px;
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 10px;
            }
        }
        .img { 
            /*border-radius: 8px;
            margin-top: 2%;
            .img-fluid{
                margin-bottom: 10%;
            }*/
            .articuloOculto{
                display: none;
                h3{
                    text-transform: uppercase;
                }
            }
            
        }
    }
    #seccionTres {
        scroll-margin-top: 4em;
        .novedades-contenedor {
            position: relative;
            padding-top: 30px;
            background-image: url("../css/img/novbg.jpg");
            .container-shadow {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.7);
                border-radius: 2px;
            }
        }
        .card {
            position: relative;
            margin-bottom: 40px;
            height: 500px;
            background-size: cover;
            background-position: center;
            border-radius: 2px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.15);
            transition: all 0.3s ease;
            @include clearfix;
            .card-shadow {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                border-radius: 2px;
            }
            .card-body {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                .card-title {
                    font-size: 2rem;
                    color: #fff;
                }
                .card-text {
                    color: #FFFFFF;
                    margin-bottom: 30px;
                    font-size: 1.5rem;
                    font-family: "GothamRoundedLight", sans-serif;
                    text-align: center;
                }
                .btn {
                    font-size: 15px;
                    background-color: #ec2088;
                    border-color: transparent;
                    font-family: "GothamRoundedMedium", sans-serif;
                    text-transform: uppercase;
                    border-radius: 2px;
                    padding: 8px 25px;
                    margin-bottom: 30px;
                    a{
                        text-decoration-line: none;
                        color: #fff;
                    }
                    
                }
            }
            &.card-large {
                height: 500px;
            }
            &.card1 {
                background-image: url("../css/img/nov1.jpg");
            }
            &.card2 {
                background-image: url("../css/img/nov2.jpg");
            }
            &.card3 {
                background-image: url("../css/img/img16.jpeg");
            }
            &.card4 {
                background-image: url("../css/img/nov3.png");
            }
            &.card5 {
                background-image: url("../css/img/img20.jpg");
            }

            &:hover {
                // cursor: pointer;
                box-shadow: 0 0 30px rgba(0,0,0,0.8);
                transform: scale(1.02);
                .card-body {
                    .btn {
                        a{
                            color: #832980;
                        }
                    }
                }
            }
        }
    }
    #seccionCuatro{
        scroll-margin-top: 4em;
        margin-bottom: 30px;
        form{
            margin-top: 15px;
            input{
                margin-bottom: 30px;
                color: #FFFFFF;
            }
        }
        .contenedorBotoncontacto{
            .botonContacto{
                button{
                    font-family: "GothamRoundedMedium", sans-serif;
                    color: #fff;
                    background-color: #ec2088;
                    border-color: #ec2088;
                }
                button:hover{
                    color: #832980;
                }
            }
        }
        .contenedorBoton{
            .modBoton{
                display: flex;
                justify-content: center;
                a{
                    text-align: center;
                    justify-content: center;
                    .imgBoton{
                        width: 75%;
                    }
                }
            }
            .modText {
                display: flex;
                text-align: center;
                justify-content: center;
                color: #832980;
            }
        }
    }
    .final-seccion {
        .yellow-dot {
            width: 20px;
            height: 20px;
            background-color: #ec2088;
            border-radius: 50%;
            display: inline-block;
            margin: 45px 5px;
        }
    }
}

@media screen and (max-width: 991px) {
    body {
        .navbar {
            .container-fluid{
                img{
                    width:40%;
                }
                .collapse{
                    text-align: center;
                    .navbar-nav{
                        width: 88vw;
                        justify-content: center;
                    }
                }
            }
            .navbar-brand {
                font-size: 22px;
                margin-left: 0;
            }
        }
        .imgHome {
            .textoIndex {
                width: 100%;
                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body {
        #seccionTres {
            .card {
                height: 24rem;
                &.card1 {
                    background-image: url("../css/img/nov6.png");
                }
                &.card-large{
                    height: 24rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .navbar {
            img {
                width: 60%;
                margin: 0;
            }
        }
        .imgHome {
            .textoIndex {
                width: 100%;
                h2 {
                    font-size: 25px;
                }
            }
        }
        .seccion {
            margin-top: 20px;
        }
        .titulo-seccion {
            margin-bottom: 0px;
        }
        #seccionDos {
            .principalAOcultar{
                display: none;
            }
            .columna-imagenes {
                .articuloOculto{
                    display: block;
                    text-align: center;
                    .capaUno{
                        font-size: 7rem;
                        font-family: 'Ubuntu', sans-serif;
                        color: #b0b0b0;
                        position: absolute;
                        z-index: -1;
                    }
                    .contPropuesta{
                        display: flex;
                        flex-direction: column;
                        margin-left: 1.2rem;
                        padding-top: 5.5rem;
                        text-align: j;
                        .tituloCapa{
                            text-align: left;
                            font-family: "GothamRoundedBold";
                            text-transform: uppercase;
                            font-size: 2rem;
                        }
                    }
                }
            }
        
        }
        #seccionTres {
            .card {
                margin-bottom: 12px;
                &.card-large {
                    height: 400px;
                }
            }
        }
    }
}
@media screen and (max-width: 446px) {
    body {
        .imgHome {
            .textoIndex {
                margin-top: -80%;
            }
        }
        #seccionTres{
            .card {
                height: 14rem;
                &.card1 {
                    background-image: url("../css/img/nov6.png");
                }
                &.card4 {
                    background-image: url("../css/img/nov7.png");
                }
                &.card-large{
                    height: 14rem;
                }
                .card-body{
                    .card-title{
                        font-size: 30px;
                    }
                    .card-text{
                        font-size: 20px;
                    }
                }
                
            } 
        } 
    }
}